@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #242424;
  color: #198990;
  padding: 5px;
}

.center {
  display: block;
  margin: auto;
}

.home-page-tiles {
  height: 308px;
}

.notice {
  color: green;
}

.warning {
  color: red;
}

// .hidden {
//   display: none;
// }