@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html, body {
  font-family: Open Sans, arial, sans-serif;
  background-color: #242424;
  color: #198990;
  padding: 5px;
  // height: calc(100% - 8px);
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
  padding-bottom: 50px;
}

.navbar-header{
  font-weight: bold;
  color: #198990 !important;
}

.footer {
  border-top: 1px solid #090909;
  height: 50px;
}

.footer-details {
  line-height: 50px;
  vertical-align: middle;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

.home-page-tiles {
  height: 308px;
}

.choice-tiles {
  height: 170px;
}

.notice {
  color: green;
}

.warning {
  color: red;
}

.btn {
  margin: 8px;
}

.indented {
  margin-left: 20px;
}

.anti-indent {
  margin-left: -20px;
}

.tmdb-logo {
  max-width: 300px;
}



#loginPage{
    
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    h1 {
      font-size: 45pt;
      animation: 2s ease 0s normal forwards 1 fadeinTitle;
    }
    
    h2 {
      animation: 2s ease 0s normal forwards 1 fadeinBtn;
    }
}


#loginPageButton {
  margin-top: 40px;
  animation: 3.5s ease 0s normal forwards 1 fadeinBtn;
}

@keyframes fadeinTitle{
  0% { opacity:0; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@keyframes fadeinBtn{
  0% { opacity:0; }
  75% { opacity:0; }
  100% { opacity:1; }
}