.homepage
    = link_to 'ADD NEW SHOW', new_show_path, class: "btn btn-info"
    
    %h3 BOOKMARKS
    = render partial: "showTiles", locals: {shows: @bookmarks}
    
    %h3 WATCHLIST
    = render partial: "showTiles", locals: {shows: @watchlist}
    
    %h3 ARCHIVE
    = render partial: "showTiles", locals: {shows: @archive}
