%h1 New show
%p.warning#errors{style:"display: none;"}

= render 'tmdbForm'
.indented
    #selection-shows{style:"display: none;"}
    %h5#selection-seasons-heading{style:"display: none;"}
    #selection-seasons{style:"display: none;"}
    %h5#selection-episodes-heading{style:"display: none;"}
    #selection-episodes{style:"display: none;"}
    %h5#episode-info-heading{style:"display: none;"}
    #episode-info{style:"display: none;"}

= link_to 'Cancel', shows_path, class: "btn btn-info"
