%h1 New show
%p.warning#errors{style:"display: none;"}

= render 'tmdbForm'
.indented
    #selection-shows{style:"display: none;"}
    %h5#selection-seasons-heading{style:"display: none;"}
    #selection-seasons{style:"display: none;"}


// .test
//     %a{"data-background-color" => "#990000", :href => "#"} Paint it red
//     %a{"data-background-color" => "#009900", "data-text-color" => "#FFFFFF", :href => "#"} Paint it green
//     %a{"data-background-color" => "#000099", "data-text-color" => "#FFFFFF", :href => "#"} Paint it blue

= link_to 'Back', shows_path
