%p.warning#errors{style:"display: none;"}

%h4.indented#selection-categories
    Would you like to
    %button{class: "btn btn-info", "onclick": "category('bookmark')"} Bookmark a Show
    or
    %button{class: "btn btn-info", "onclick": "category('watchlist')"} Add to Watchlist

%br
#bookmark{style:"display: none;"}
    .indented
        = render 'tmdbForm'
        #selection-shows{style:"display: none;"}
        %h4#selection-seasons-heading{style:"display: none;"}
        .indented#selection-seasons{style:"display: none;"}
        %h4#selection-episodes-heading{style:"display: none;"}
        .indented#selection-episodes{style:"display: none;"}
        %h4#episode-info-heading{style:"display: none;"}
        .indented#episode-info{style:"display: none;"}
        
#watchlist{style:"display: none;"}
    
= link_to 'Cancel', shows_path, class: "btn btn-info"
