$('#selection-episodes-heading').hide();
$('#selection-episodes').hide();
$('#episode-info-heading').hide();
$('#episode-info').hide();

$('#selection-seasons-heading').text('Select Season');
$('#selection-seasons-heading').show();

$('#selection-seasons').hide();
$('#selection-seasons').html('#{escape_javascript(render :partial => "selectSeason")}');
$('#selection-seasons').slideDown(350);